
.vs/CMakeWorkspaceSettings.json
.vs/Primes/FileContentIndex/25013e67-6e24-4442-b1fa-d0676cc60c09.vsidx
.vs/Primes/FileContentIndex/61772145-2d70-43bf-ae99-77e591877083.vsidx
.vs/Primes/FileContentIndex/read.lock
.vs/Primes/v16/.suo
.vs/Primes/v16/Browse.VC.db
.vs/Primes/v17/.suo
.vs/Primes/v17/Browse.VC.db
.vs/Primes/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
