.DS_Store
.vs
*.o
*.asm
*.s
*.tmp
testd.sh
testm.sh
sieve_extend
sieve_extend_epar
sieve_extend_par
sieve_extend-u*
sieve_extend-i*
sieve_extend_epar-u*
sieve_extend_epar-i*
sieve_base_epar-u*
sieve_base-u*
.vscode
.vscode/*
tuning_results*
callgrind*
profile*
vec_report*
gmon*
bin/*
build/*
tests/bin/*
dev/build/*
dev/dockerfiles/*