[package]
name = "prime_rs"
version = "0.1.1"
authors = ["adnan338"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[profile.release]
lto = "fat"
panic = "abort"
codegen-units = 1