name: Benchmark

on:
  schedule:
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: "${{ matrix.os }}"

    strategy:
      max-parallel: 1
      matrix:
        solution:
          - PrimeCrystal/solution_0
          - PrimeRust/solution_0
        os: ["ubuntu-20.04"]

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Normalize solution name"
        id: solution-name
        run: |
          NAME=$(echo "${{ matrix.solution }}" | sed -r 's/\//_/g' | tr '[:upper:]' '[:lower:]')
          echo "::set-output name=normalized::${NAME}"

      - name: "Build container image"
        continue-on-error: true
        run: |
          cd "${{ matrix.solution }}"
          docker build -t "${{ steps.solution-name.outputs.normalized }}" .

      - name: "Run tests"
        continue-on-error: true
        run: |
          docker run --rm "${{ steps.solution-name.outputs.normalized }}" | tee "${{ steps.solution-name.outputs.normalized }}-${{ matrix.os }}.out"

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.solution-name.outputs.normalized }}
          path: "*.out"

  report:
    runs-on: ubuntu-latest

    needs:
      - test

    steps:
      - name: "Download artifacts"
        uses: actions/download-artifact@v2

      - name: "List all artifacts"
        run: tree
