name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      matrix:
        solution: [ "PrimeCrystal" ]
    
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Normalize container name"
        id: container_name
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ matrix.solution }}
        
      - name: "Build container image"
        continue-on-error: true
        run: |
          cd "${{ matrix.solution }}"
          docker build -t "${{ steps.container_name.outputs.lowercase }}" .
      
      - name: "Run tests"
        continue-on-error: true
        run: |
          docker run --rm "${{ steps.container_name.outputs.lowercase }}" | tee "${{ matrix.solution }}.txt"
      
      - name: "Upload artifacts"
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.solution }}
          path: "${{ matrix.solution }}.txt"

  report:
    runs-on: ubuntu-latest

    needs: 
      - test

    steps:
      - name: "Download artifacts"
        uses: actions/download-artifact@v2
      
      - name: "List all artifacts"
        run: tree